<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Tingeso</title>
</head>

<body>


<h1>Plataforma de Calculo de Planillas</h1>

<h3>Ingreso de justificativos</h3>
<p>Seleccione aquí para ingresar un justificativo de inasitencia</p>
<button id="botonJustificativo">Ingreso de Justificativo</button>

<form id="formularioJustificativo" action="/inasistencia/enviarjustificativo" method="post">
    <ul>
     <li>
       <label for="rut">Rut del empleado(con puntos y guión):</label>
       <input type="text" id="rut" name="rutEmpleado">
     </li>
     <li>
       <label for="fechaInasistencia">Fecha de Inasistencia (yyyy-mm-dd):</label>
       <input type="text" id="fechaInasistencia" name="fecha">
     </li>
     <li>
       <label for="motivoInasistencia">Ingrese el motivo de la inasistencia:</label>
       <textarea id="motivoInasistencia" name="motivoInasistencia"></textarea>
     </li>
     <li class="button">
        <button type="submit">Enviar</button>
      </li>
    </ul>

          
</form>


<h3>Ingreso de autorizaciones para horas extras</h3>
<p>Seleccione aquí para ingresar una autorización</p>
<button id="botonAutorizacion">Ingreso de Autorización</button>

<form id="formularioAutorizacionHorasExtras" action="/horas_extras/enviarautorizacion" method="post">
    <ul>
     <li>
       <label for="rut">Rut del empleado(con puntos y guión):</label>
       <input type="text" id="rut" name="rutEmpleado">
     </li>
     <li>
       <label for="fechaHoraExtra">Fecha de horas extras (yyyy-mm-dd):</label>
       <input type="text" id="fechaHoraExtra" name="fecha">
     </li>
     <li>
       <label for="cantidadHoras">Cantidad de horas aprobadas:</label>
       <input type="text" id="cantidadHoras" name="cantidadHorasAprobadas">
     </li>
     <li class="button">
        <button type="submit">Enviar</button>
      </li>
    </ul>

          
</form>

   



<h3>Ingreso de marcas de reloj</h3>
<p>Seleccione el archivo con las marcas de reloj</p>
<input type="file" id="archivoMarcas"/>


<script>
console.log("Acabo de entrar al script js\n");

document.querySelector('#archivoMarcas').addEventListener('change', leerArchivo, false);

  function leerArchivo(e){

    const archivo = e.target.files[0];
    if(!archivo){
      console.log("Error al cargar el archivo");
      return ;
    }

    const lector = new FileReader();
    lector.readAsText(archivo);
    console.log("Archivo Leido\n");
    lector.onload = async function(e) {
      console.log("El contenido del archivo es:\n",e.target.result);
      var contenido = e.target.result;
      console.log("Hola:\n", contenido);

      //Se realiza un split para obtener cada linea del contenido del archivo
      var lineas = contenido.split("\r");


      var spliteo = contenido.split('\n');//borrar
      console.log("spliteo[0] = ",spliteo[0],"\n");
      console.log("spliteo[1] = ",spliteo[1],"\n");
      console.log("spliteo[2] = ",spliteo[2],"\n");

      //Se obtiene el largo del array
      var cantidadMarcas = spliteo.length;
      var i = 0;
      console.log("El largo del array es ",cantidadMarcas,"\n");

      //Se crea el objeto a enviar
      let listadoMarcasReloj = [];
      let marcaReloj = {};
      //Mientras se evalua cada linea del archivo 
      //el +1 es para llegar hasta la penultima linea solamente
      //ya que ira leyendo 2 lineas a la vez.
      while(i+1<cantidadMarcas){

        const posicionFechaMarca = 0;
        const posicionHoraMarca = 1;
        const posicionRutEmpleado = 2;
        let marcaObjeto = {};
        

        //se guardan las 2 primeras lineas que en teoría pertenecen a la marca de reloj de un dia específico
        //lineas[i].split("\n");
        //lineas[i+1] = lineas[i+1].split("\n");

        let marcaEntrada = lineas[i].split(";");
        let marcaSalida = lineas[i+1].split(";");

        //Se obtienen los datos que se necesitan
        let horaEntrada = marcaEntrada[posicionHoraMarca];
        let rutEmpleado = marcaEntrada[posicionRutEmpleado];
        let horaSalida = marcaSalida[posicionHoraMarca];
        let fecha;

        //ESte if es pq por alguna razon tengo un problema leyendo la primera cadena
        if(i == 0){ 
          fecha = marcaEntrada[posicionFechaMarca].split("\n")[0];
        }else{
          fecha = marcaEntrada[posicionFechaMarca].split("\n")[1];

        }

        //Se agregan los datos al objeto para enviarlo como JSON
        marcaObjeto.hora_entrada = horaEntrada;
        marcaObjeto.hora_salida = horaSalida;
        marcaObjeto.rut_empleado = rutEmpleado;
        marcaObjeto.fecha = fecha;

        //Se agrega al listado final
        listadoMarcasReloj.push(marcaObjeto);

        console.log("Se entro al while y tomaré 2 lines");
        console.log("rutEmpleado: ",rutEmpleado,"\n");
        console.log("horaEntrada: ",horaEntrada,"\n");
        console.log("horaSalida: ",horaSalida,"\n");



        i = i + 2;
      }//fin while

      console.log("El listado de marcas es:\n",listadoMarcasReloj,"\n");

      //Se envia el listado de marcas con formato JSON
      const request = await fetch('/empleados/enviarmarcas', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(listadoMarcasReloj)
      });

    // e.target.result should contain the text
    };//fin function(e)

    }//fin leer archivo

///////////////////////////Evento boton justificativo //////////////////////////////////////////

    //boton para ingresar el justificativo
    var botonJustificativo = document.getElementById('botonJustificativo');
    document.getElementById("formularioJustificativo").style.display = 'none';
    var mostrandoFormularioJustificativo = 1;

    function desplegarFormularioJustificativo(){

        console.log("El botón de justificativos fue presionado");

        //Si al presionar el botón el formulario es visible, se oculta.
        if(mostrandoFormularioJustificativo){
            document.getElementById("formularioJustificativo").style.display = 'none';
            mostrandoFormularioJustificativo = 0;

        }else{ //Sino, se muestra
            document.getElementById("formularioJustificativo").style.display = '';
            mostrandoFormularioJustificativo = 1;
        }
        


    }//fin desplegarFormularioJustificativo

    //Si el botón es presionado, se despliega el formulario para los justificativos
    botonJustificativo.addEventListener("click",desplegarFormularioJustificativo,true);
//////////////////////////////////////////////////////////////////////////////////////////////////////////////





//////////////////////////////////Evento boton autorizaciones horas extras//////////////////////////////////////////////////////////////////


    //boton para ingresar la autorización
    var botonAutorizacion = document.getElementById('botonAutorizacion');
    document.getElementById("formularioAutorizacionHorasExtras").style.display = 'none';
    var mostrandoFormularioAutorizacion = 1;

    function desplegarFormularioAutorizacion(){

        //Si al presionar el botón el formulario es visible, se oculta.
        if(mostrandoFormularioAutorizacion){
            document.getElementById("formularioAutorizacionHorasExtras").style.display = 'none';
            mostrandoFormularioAutorizacion = 0;

        }else{ //Sino, se muestra
            document.getElementById("formularioAutorizacionHorasExtras").style.display = '';
            mostrandoFormularioAutorizacion = 1;
        }
        


    }//fin desplegarFormularioAutorizacion

    //Si el botón es presionado, se despliega el formulario para las autorizaciones de horas extras
    botonAutorizacion.addEventListener("click",desplegarFormularioAutorizacion,true);
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////




</script>














</body>
</html>