<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Tingeso</title>
</head>

<body>
  <p>Esta página web es una página HTML válidaa.</p>

<table class="table">
  <thead class="thead-dark">
    <tr>
        <th>id</th>
        <th>nombres</th>
        <th>apellidos</th>
        <th>rut</th>
        <th>fecha de nacimiento</th>
        <th>fecha de ingreso</th>

        
    </tr>
  </thead>
<tbody>
    <tr th:each="empleado:${empleados}">
        <td th:text="${empleado.id_empleado}"></td>
        <td th:text="${empleado.nombres}"></td>
        <td th:text="${empleado.apellidos}"></td>
        <td th:text="${empleado.rut}"></td>
        <td th:text="${empleado.fecha_nacimiento}"></td>
        <td th:text="${empleado.fecha_ingreso}"></td>
        
        
    </tr>
</tbody>
</table>


<h1>Importacion de marcas desde el reloj</h1>
<p>Seleccione el archivo con las marcas de reloj</p>
<input type="file" id="archivoMarcas" />


<script>
  
  console.log("Acabo de entrar al script js\n");

  document.querySelector('#archivoMarcas').addEventListener('change', leerArchivo, false);

  function leerArchivo(e){

    const archivo = e.target.files[0];
    if(!archivo){
      console.log("Error al cargar el archivo");
      return ;
    }

    const lector = new FileReader();
    lector.readAsText(archivo);
    console.log("Archivo Leido\n");
    lector.onload = async function(e) {
      console.log("El contenido del archivo es:\n",e.target.result);
      var contenido = e.target.result;
      console.log("Hola:\n", contenido);

      //Se realiza un split para obtener cada linea del contenido del archivo
      var lineas = contenido.split("\r");


      var spliteo = contenido.split('\n');//borrar
      console.log("spliteo[0] = ",spliteo[0],"\n");
      console.log("spliteo[1] = ",spliteo[1],"\n");
      console.log("spliteo[2] = ",spliteo[2],"\n");

      //Se obtiene el largo del array
      var cantidadMarcas = spliteo.length;
      var i = 0;
      console.log("El largo del array es ",cantidadMarcas,"\n");

      //Se crea el objeto a enviar
      let listadoMarcasReloj = [];
      let marcaReloj = {};
      //Mientras se evalua cada linea del archivo 
      //el +1 es para llegar hasta la penultima linea solamente
      //ya que ira leyendo 2 lineas a la vez.
      while(i+1<cantidadMarcas){

        const posicionFechaMarca = 0;
        const posicionHoraMarca = 1;
        const posicionRutEmpleado = 2;
        let marcaObjeto = {};
        

        //se guardan las 2 primeras lineas que en teoría pertenecen a la marca de reloj de un dia específico
        //lineas[i].split("\n");
        //lineas[i+1] = lineas[i+1].split("\n");

        let marcaEntrada = lineas[i].split(";");
        let marcaSalida = lineas[i+1].split(";");

        //Se obtienen los datos que se necesitan
        let horaEntrada = marcaEntrada[posicionHoraMarca];
        let rutEmpleado = marcaEntrada[posicionRutEmpleado];
        let horaSalida = marcaSalida[posicionHoraMarca];
        let fecha;

        //ESte if es pq por alguna razon tengo un problema leyendo la primera cadena
        if(i == 0){ 
          fecha = marcaEntrada[posicionFechaMarca].split("\n")[0];
        }else{
          fecha = marcaEntrada[posicionFechaMarca].split("\n")[1];

        }

        //Se agregan los datos al objeto para enviarlo como JSON
        marcaObjeto.hora_entrada = horaEntrada;
        marcaObjeto.hora_salida = horaSalida;
        marcaObjeto.rut_empleado = rutEmpleado;
        marcaObjeto.fecha = fecha;

        //Se agrega al listado final
        listadoMarcasReloj.push(marcaObjeto);

        console.log("Se entro al while y tomaré 2 lines");
        console.log("rutEmpleado: ",rutEmpleado,"\n");
        console.log("horaEntrada: ",horaEntrada,"\n");
        console.log("horaSalida: ",horaSalida,"\n");



        i = i + 2;
      }//fin while

      console.log("El listado de marcas es:\n",listadoMarcasReloj,"\n");

      //Se envia el listado de marcas con formato JSON
      const request = await fetch('/empleados/enviarmarcas', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(listadoMarcasReloj)
      });






   
      











          /* BORRAR
      let jsonEjemplo = {
              "rut" : "19.919.462-3",
              "nombres" : "Jerardo Antonio",
              "apellidos" : "Lusero Cordoba",
              "fecha_nacimiento" : "1998-11-20",
              "fecha_ingreso" : "2010-01-01",
              "id_categoria" : "1",
            };



 CODIGO PRUEBA      
$.ajax({
      type: "post",
      contentType : 'application/json; charset=utf-8',
      dataType : 'json',
      url: "http://localhost:33060/enviarpost",
      data: JSON.stringify(jsonEjemplo), 
      success :function(result) {

        return "todo salio bien\n";
       // do what ever you want with data
     }
    })

    //Prueba de CRUD con fetch
      const request = await fetch('/enviarpost', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(jsonEjemplo)
      });
      //const usuarioEjemplo = await request.json();
      //console.log("Post enviado y se recibió respuesta");
*/




    // e.target.result should contain the text
    };//fin function(e)



  }//fin leer archivo





</script>














</body>
</html>